<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>follow my social media Accounts</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-4 text-reset"><i class="bi bi-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-git-up"></i></a>

        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus">Striker's Choice</i></h6>
                    <p>ersonalize your gear and make a statement on the field! [Striker's Choice] offers customization
                        services, allowing you to add your name, team logo, or any personal touch to your cricket
                        equipment. Stand out and play with confidence!</p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home">_Mathicricket17</i></p>
                    <p><i class="fa fa-envelope">mathiyarasanmurugan@gmail.com</i></p>
                    <p><i class="fa fa-phone">+91-7806947418 </i></p>
                </div>
            </div>
        </div>
    </section>
</footer>